<body>
    <div id="spinner">
        </div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="_container" id="header"><div><div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	<a href="/" class="navbar-brand">
		<img src="images/ebs.png" alt="Projektrummet" width="30">
		EBS 2020
	</a>
</div>
<div class="navbar-collapse collapse">
	<div id="search"><div><form id="searchform" class="navbar-form navbar-left">
    <div class="form-group">
        <input type="text" id="casenumberform" autofocus="autofocus" placeholder="Ange ärendenamn..." class="form-control">
    </div>
</form>
</div></div>
	<ul class="nav navbar-nav navbar-right component-announcements">	
		<li id="header-user" class="active">
<a class="inactive">
	<span class="glyphicon glyphicon-user">&nbsp;</span> <span>
		 
	</span>
</a>
		</li>

		<li class="divider"></li>
        <li class="hidden">
            <a id="view-header-debug" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Debug">
                <span class="glyphicon glyphicon-screenshot"></span>
            </a>
        </li>
		<li id="notifications" class="hidden-xs hidden-sm"></li>
		<li class="hidden-xs">
			<a id="view-header-fullscreen" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Visa sidan i helskärmsläge">
				<span class="glyphicon glyphicon-fullscreen"></span>
			</a>
		</li>
		<li class="hidden-xs" id="view-header-cssselector">
            <a id="view-header-css" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Byt färgtema">
                <span class="glyphicon glyphicon-edit"></span>
            </a>
		</li>
		<!--<li id="view-header-keyboard">
			<a id="view-header-keyboard-link" data-toggle="tooltip" data-placement="bottom" title="Kortkommandon för tangentbord">
				<span class="glyphicon glyphicon-info-sign"></span>
			</a>
		</li>-->
		<li class="divider"></li>
		<li>
			<a class="inactive">Frågor</a>
		</li>
		<li>
			<a class="inactive">Kom igång</a>
		</li>
		<li>
			<a class="inactive">Kontakt</a>
		</li>
		<li>
			<a href="/systeminfo" data-bypass="true">Systeminfo</a>
		</li>
		<li>
			<a href="/auth/logout" data-bypass="true">Logga ut</a>
		</li>
	</ul>
</div></div></div>
    </div>
    <div class="_container" id="content"><div><main class="view-index">
    <div class="col-lg-12">
        <h2>Public - Hej Sven!</h2>
        <p>
            Om du vill fortsätta arbeta med en ansökan som du påbörjat tidigare klickar du på projektet i listan. Klicka därefter på fliken Ansökan så öppnas din ansökan.{{awesomeThings}}
        </p>
    </div>

    <div class="col-md-5">
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4>Test av beslut</h4>
            <p>Det finns två ansökningsomgångar där beslut är testade.</p>
            <ul>
                <li><a href="/AnnouncementCase/12597">Ansökningsomgång #12597</a></li>
                <li><a href="/AnnouncementCase/9692">Ansökningsomgång #9692</a></li>
            </ul>
        </div>
    </div>

    <div class="clearfix">&nbsp;</div>
    <div>&nbsp;</div>
    <div class="clearfix" id="modalnew-error">&nbsp;</div>
    <div class="col-sm-5" id="index-announcements-list"><div><div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Ansökningsomgångar (192)</h3>
    </div>
    <div class="panel-body">
    	
        <table class="table table-striped table-hover">
            <thead>
                <tr >
                    <th>Namn på ansökningsomgång</th>
                </tr>
            </thead>
            <tbody id="index-announcement-list-items">
            <tr ng-repeat="case in cases"><td>
    	<a ng-href="#/AnnouncementCase/{{case.id}}" title="[MISSING RESOURCE:  index.announcementGoTo] Qwerty12345678">{{case.name}}</a>
</td></tr></tbody>
        </table>
    </div>
</div></div></div>
    <div id="index-modal"></div>
    <div class="col-sm-7" id="index-project-list"></div>
    <div class="clearfix">&nbsp;</div>
</main></div></div>
    <span class="clearfix">&nbsp;</span>
    <hr>
    <footer class="view-footer">
        <div class="_container">
            <div class="col-sm-2">
                <img src="images/esf_logo_footer.gif" alt="ESF logo">
            </div>
            <nav class="col-sm-10 hidden-xs">
                <ul class="pull-right">
                    <li>
                        Svenska ESF-rådet
                    </li>
                    <li>
                        Version 0.2.0
                    </li>
                    <li>
                        <a href="#">Kontakta oss</a>
                    </li>
                    <li>
                        <a href="#">Cookies</a>
                    </li>
                </ul>
            </nav>
        </div>
    </footer>
   </body>